{% extends 'base.html.twig' %}

{% block body %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre rouge MODE ALERTE QUI TUE GRAVE #}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route << login_check >> #}
    <form action="{{ path('login_check') }}" method="post" class="text-center">
        <label for="username">{{ 'account.username'|trans }} :</label>
        <br/>
        <input type="text" id="username" name="_username" value="{{ last_username }}"
               placeholder="{{ 'account.enterUsername'|trans }}"/>
        <br/>

        <label for="password">{{ 'account.password'|trans }} :</label>
        <br/>
        <input type="password" id="password" name="_password"
               placeholder="{{ 'account.enterPassword'|trans }}"/>
        <br/>
        <br/>
        <input type="submit" value="{{ 'account.connection'|trans }}" />
    </form>

{% endblock %}