{# src/templates/view.html.twig #}

{% extends "accueil_blog.html.twig" %}

{% block title %} {{ parent() }} - article {% endblock %}

{% block h1 %} article : {{ article.id }} {% endblock %}

{% block sub_body %}
    <br>
    id : {{ article.id }} |
    titre : {{ article.title }} |
    auteur : {{ article.author }} |
    description : {{ article.content }} :
    <br><br>
    <div class="text-center">Catégories : </div>
    <div class="text-center">
        {% for category in article.categories %}
            | {{ category.name }} |
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-info" href="/blog/article/edit/{{ article.id }}">Modifier l'article</a>
    <a class="btn btn-danger" href="/blog/article/delete/{{ article.id }}">Supprimer l'article</a>

{% endblock %}